.register {
    margin-top: 30px;
    /* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
    mat-card {
        margin: 20px;
        max-width: 600px;
        width: 100%;
    }
}
